In [2]:
from sympy import*

In [1]:
#20 modulus 2 + 7 - (3 +7) × 20 ÷ 2

In [3]:
a=20%2+7-(3+7)*20/2

In [4]:
print(a)

-93.0

In [5]:
#. 30 × 10 floor division 3 + 10 modulus 3
b=30*10//3+10%3

In [6]:
print(b)

101

In [7]:
c=2^5-2^4+4//4

In [8]:
print(c)

4

In [10]:
print("Python "*9)

Python Python Python Python Python Python Python Python Python

In [11]:
print("Mathematics "*9)

Mathematics Mathematics Mathematics Mathematics Mathematics Mathematics Mathematics Mathematics Mathematics

In [12]:
n=1
while n<=10:
    print(n , '\t',n**2)
    n=n+1

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [13]:
eye(10)

Matrix([
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
[0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [14]:
zeros(7,3)

Matrix([
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],
[0, 0, 0],
[0, 0, 0]])

In [15]:
ones(5,4)

Matrix([
[1, 1, 1, 1],
[1, 1, 1, 1],
[1, 1, 1, 1],
[1, 1, 1, 1],
[1, 1, 1, 1]])

In [17]:
n=1
while n<=10:
    print(n ,'\t',n**2+n)
    n=n+1

1 	 2
2 	 6
3 	 12
4 	 20
5 	 30
6 	 42
7 	 56
8 	 72
9 	 90
10 	 110

In [20]:
primes =[]
for i in range(2,101):
    if all(i%p for p in  primes):
        print(i)
        primes.append(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [21]:
r=7
pi = 3.142
v=4/3*pi*r**3
print("The volume of sphere with r=7 is",v)

The volume of sphere with r=7 is 1436.9413333333332

In [22]:
string1 = "Hello "
string2 = "World! "

In [23]:
string1+string2

'Hello World! '

In [24]:
string1 = "Good "
string2 = "Morning"

In [25]:
string1+string2

'Good Morning'

In [26]:
n=20
while n<=30:
    print(n,'\t',n**2)
    n=n+1

20 	 400
21 	 441
22 	 484
23 	 529
24 	 576
25 	 625
26 	 676
27 	 729
28 	 784
29 	 841
30 	 900

In [27]:
def f(x):
    return x**2-5*x+6

In [28]:
f(-2)

20

In [29]:
f(0)

6

In [30]:
f(2)

0

In [31]:
n=1
while n<=10:
    print(n,'\t',n**3+5*n)
    n=n+1

1 	 6
2 	 18
3 	 42
4 	 84
5 	 150
6 	 246
7 	 378
8 	 552
9 	 774
10 	 1050

In [32]:
A=Matrix([[4,2,2],[2,4,2],[2,2,4]])

In [33]:
print(A)

Matrix([[4, 2, 2], [2, 4, 2], [2, 2, 4]])

In [34]:
A.eigenvects()

[(2,
  2,
  [Matrix([
   [-1],
   [ 1],
   [ 0]]),
   Matrix([
   [-1],
   [ 0],
   [ 1]])]),
 (8,
  1,
  [Matrix([
   [1],
   [1],
   [1]])])]

In [35]:
A.eigenvals()

{8: 1, 2: 2}

In [46]:
def f(n):
    n^1
    
    if n%2==0:
        print("Divisible by 2\n")
        else :
            if n%3==0:
                print("Divisible by 3\n")
                else :
                    if n%5==0:
                        print("Divisible by 5\n")

<class 'SyntaxError'>: invalid syntax (<ipython-input-46-70e7d83b608a>, line 6)

In [43]:
f(5)

In [44]:
f(20)

In [47]:
print("LATEX "*11)

LATEX LATEX LATEX LATEX LATEX LATEX LATEX LATEX LATEX LATEX LATEX

In [48]:
print("MATLAB "*11)

MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB MATLAB

In [1]:
def simpsons13(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        k=a+i*h
        
        if i%2==0:
            result=result+2*f(k)
        else:
            result=result+2*f(k)
            
    result=(h/3)*result
            
    return (result)
from math import*
def f(x):
    return sin(x)
simpsons13(f,0,3.142,6)

1.3027234619213461

In [2]:
def simpsons13(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        k=a+i*h
        
        if i%2==0:
            result=result+2*f(k)
        else:
            result=result+2*f(k)
            
    result=(h/3)*result
    
    return(result)
from math import*
def f(x):
    return sin(2)*(3.142*x)
simpsons13(f,0,3.142,6)

9.401632032994781

In [5]:
def simpsons38(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        k=a+i*h
        
        if i%3==0:
            result=result+2*h
        else:
            result=result+3*h
            
    result=(3*h/8)*result
    
    return(result)
from math import*
def f(x):
    return e**x**2
simpsons38(f,0,3,6)

1520.8282364203837

In [6]:
def simpsons38(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        k=a+i*h
        
        if i%3==0:
            result=result+2*h
        else:
            result=result+3*h
            
    result=(3*h/8)*result
    
    return (result)
from math import*
def f(x):
    return e**x**2
simpsons38(f,0,3,6)

1520.8282364203837

In [11]:
def trapezoidal(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        result=result+2*f(a+i*h)
        
    result=(h/2)*result
        
    return (result)
from math import*
def f(x):
    return x**2
trapezoidal(f,0,2,10)

2.6800000000000006

In [12]:
def trapezoidal(f,a,b,n):
    h=float(b-a)/n
    
    result=f(a)+f(b)
    
    for i in range(1,n):
        result=result+2*f(a+i*h)
        
    result=(h/2)*result
    
    return(result)
from math import*
def f(x):
    return sin(x)
trapezoidal(f,1,6,10)

-0.4110840659990651

In [9]:
for i in range(7  ,1000  ,  7):
    print(i  ,end=" ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994