In [1]:
#Name = Prachi Barve
#Tybsc06
#Assignment 3

In [2]:
#Set A

In [3]:
# List

In [4]:
# 1
my_list = [1, 2, 3, 4, 5] 
total = sum(my_list) 
print(total)

15

In [5]:
# 2
import math 
my_list = [1, 2, 3, 4, 5] 
product = math.prod(my_list)
print(product)

120

In [6]:
# 3
def last(n): 
    return n[-1]  
  
def sort_list(tuples): 
    return sorted(tuples, key=last) 
  
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

print(sort_list(a))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [7]:
# tuples

In [8]:
# 1
t = ('red', 'green', 'blue', 'yellow', 'black')

print(t)

('red', 'green', 'blue', 'yellow', 'black')

In [9]:
# 2
t = (1, 3.14, 'hello', True, [1, 2, 3], {'name': 'Alice', 'age': 25})

print(t)

(1, 3.14, 'hello', True, [1, 2, 3], {'name': 'Alice', 'age': 25})

In [10]:
# 3
t = (1, 2, 3, 4, 5)

x = 3
y = 6

if x in t:
    print(x, "is in the tuple")
else:
    print(x, "is not in the tuple")
    
if y in t:
    print(y, "is in the tuple")
else:
    print(y, "is not in the tuple")

3 is in the tuple
6 is not in the tuple

In [11]:
# set

In [12]:
# 1.
s = {1, 2, 3, 4}
print(s)

s = set([1, 2, 3, 4])
print(s)

s = set('hello')
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}
{'h', 'o', 'e', 'l'}

In [13]:
# 2
char_set = {'a', 'b', 'c', 'd', 'e'}

for char in char_set:
    print(char)

a
e
b
d
c

In [14]:
# 3
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1:")
print(r2)

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Difference of setn1 - setn2:
{2, 3, 4}

Difference of setn2 - setn1:
{8, 9, 6, 7}

In [15]:
# Dictionary

In [16]:
# 1
dic= {'A': 3, 'B': 1, 'C': 10, 'D': 2}

sorted_dic= {}
sorted_keys = sorted(dic, key=dic.get) 

print("Original dictionary: ",dic)
print("Sorted dictionary: ", sorted_dic)
for i in sorted_keys:
    sorted_dic[i] = dic[i]

print(sorted_dic)

Original dictionary:  {'A': 3, 'B': 1, 'C': 10, 'D': 2}
Sorted dictionary:  {}
{'B': 1, 'D': 2, 'A': 3, 'C': 10}

In [17]:
# 2
rainbow = {'red': 1}
print(rainbow)
new_key_values_dict = {'orange': 2, 'yellow': 3}
rainbow.update(new_key_values_dict)
print("update by passing dictionary")
print(rainbow)

{'red': 1}
update by passing dictionary
{'red': 1, 'orange': 2, 'yellow': 3}

In [18]:
# 3
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn', 'd': 'pizza'}

for key, value in dt.items():
    print(key, value)

a juice
b grill
c corn
d pizza

In [19]:
# Set B

In [23]:
# 1
ints_list = [1, 2, 3, 4, 3, 2]
print( 'List before removing duplicates = ',ints_list)
temp = []

for x in ints_list:
    if x not in temp:
        temp.append(x)

ints_list = temp

print(f'Updated List after removing duplicates = {temp}')

List before removing duplicates =  [1, 2, 3, 4, 3, 2]
Updated List after removing duplicates = [1, 2, 3, 4]

In [24]:
# 2
my_list = []
if not my_list:
    print("the list is empty")

the list is empty

In [25]:
# Tuples

In [26]:
# 1
l = [4,5,6,7]
tuple(l)

(4, 5, 6, 7)

In [36]:
# 2
tuplex = ("p", 3, "y", "t", "h", "o", "n", 5)
print(tuplex)

listx = list(tuplex) 
listx.remove(3) 
tuplex = tuple(listx)
print(tuplex)

('p', 3, 'y', 't', 'h', 'o', 'n', 5)
('p', 'y', 't', 'h', 'o', 'n', 5)

In [2]:
# 3
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
print(tuplex)
_slice = tuplex[3:5]
print(_slice)
_slice = tuplex[:6]
print(_slice)

(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(5, 4)
(2, 4, 3, 5, 4, 6)

In [3]:
# 4
tuplex = tuple("python code")
print(tuplex)
print(len(tuplex))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'o', 'd', 'e')
11

In [4]:
# set

In [5]:
# 1
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

print(A.issubset(B))

True

In [6]:
# 2
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}

Maximum value of the said set:
20

Minimum value of the said set:
2

In [7]:
# 3 
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print("\nLength of the set:")
print(len(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}

Length of the set:
6

In [8]:
# Dictionary

In [9]:
# 1
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [10]:
# 2
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [11]:
# 3
class dictObj(object):
     def __init__(self):
         self.x = 'red'
         self.y = 'Yellow'
         self.z = 'Green'
     def do_nothing(self):
         pass
test = dictObj()
print(test.__dict__)

{'x': 'red', 'y': 'Yellow', 'z': 'Green'}